/* Background */

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255,255,255,0); 
}

::-webkit-scrollbar-thumb {
  background: rgb(169, 164, 164);
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}

#CurrentBackground {
  background-image: url(../Images/Runic_Island.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 

  overflow-x: hidden;

}

#DoodleIcon {

  display: inherit;
  box-sizing: border-box; 
  background: rgba(117, 118, 124, 0.7);
  z-index: 6;
  
  height: calc(10vw + 5vh + 5vmin); 
  width: calc(10vw + 5vh + 5vmin);
  padding: 10px;

  position: inherit;

  border: 2.5px solid rgb(255, 255, 255);

  justify-content: center;

}

#MessageBoard {

  display: none;
  background-color: #ffffff;

  width: 60%;
  height: 50px;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;

  border-radius: 15px;
  border: 5px solid rgb(0, 0, 0);
        
}

/* Menu Bar */

#MenuBar {

  display: block;
  background-color: #c9bdbd;
  overflow: hidden;

  height: 45px;
  padding: 0;
  margin: -10px;

  border: 1px solid #ffffff;
  
  list-style-type: none;
}

#MenuBar_Item a {

  display: block;
  color: #000000;

  font-size:20px;
  text-align: center;

  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
 
  padding: 14px 16px;
  float: left;
}

#MenuBar_Item_S a{

  display: block;
  color: #000000;

  float: right;

}

#MenuBar_Item a:hover:not(.active) {

  background-color: #726c6c;

}

#MenuBar_Item a.active {

  color: white;
  background-color: #030203;

}

/* Doodle Space */

#BoxTitle {

  display: block;

  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;

  margin-top: 5px;

}

#TradeBox {

  display: block;
  background: rgba(89, 85, 150, 0.3);

  width: 80%;
  height: 500px;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;

  border: 5px solid rgb(143, 120, 120);
  border-radius: 15px;

}

#AddDoodle_Button {
  
  display: block;
  background-color: rgb(255, 255, 255);

  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;

  padding: 10px;

  float: right;

  border-radius: 15px;

}

#DoodleContent {

  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  list-style-type: none;

  height: 80%;
  width: 90%;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#DoodleImage {

  display: block;
  z-index: 30;

  height: 100%;  
  width: 100%;

}

#DoodleImageButton {

  display: block;
  position: absolute;
  background-color: transparent;
  z-index: 90;

  height: 100%;  
  width: 100%;

}

#ContentItem {
  
  display: block;

  list-style-type: none;
  overflow: hidden;
  background: rgb(255,255,255, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 1px;
  float: left;

  height: 50px;

  overflow: hidden;


}

/* Doodle Create Menu */

#DoodleCreate {

  display: none; /* Change Thing */
  width: 70%;
  height: 450px;
  background: rgba(41, 59, 139, 0.7);
  border: 5px solid rgb(36, 83, 128);
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 

}

#DoodleName {

  display: inherit; 
  color: white;
  z-index: 30;

  font-size: calc(1vw + 1vh + 1vmin); 
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke:1px rgb(255, 255, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);

  position: absolute;

  top: -50px;



}

#CreateTitle {

  display: inherit; 
  color: white;
  z-index: 7;

  font-size: calc(1vw + 1vh + 1vmin); 
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke:1px rgb(255, 255, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);

  margin-left: auto;
  margin-right: auto;

  position: absolute;

  top: 0;

}

#CreateTitle_Doodles {

  display: inherit;
  color: white;
  z-index: 8;
  font-size: calc(1vw + 1vh + 1vmin);
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  position: relative;
  margin: 20px 0;
 
}

#DoodleSelection {
  display: block; 
  background: rgba(117, 118, 124, 0.7);
  z-index: 6;


  height: 90%;
  width: calc(30% - 20px); /* Adjust width to prevent overlap */

  border: 2.5px solid rgb(255, 255, 255);

  position: absolute;
  left: 0;

  bottom: 25px
}

#DoodleSelection_List {
  overflow: auto;
  display: flex;
  z-index: 6;

  justify-content: center; 
  flex-wrap: wrap; 

  position: inherit;
  overflow: auto; 
  max-height: 80%; 
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

#Doodle_ListItem {

  display: block;
  background-color: #c9bdbd;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  position: relative;
  margin: 5px;

}

/* Evolution Menu */

#EvolutionSelection {

  display: block; 
  background: rgba(117, 118, 124, 0.7);
  z-index: 6;


  height: 20%;
  width: calc(40%); /* Adjust width to prevent overlap */
  padding: 10px;

  border: 2.5px solid rgb(255, 255, 255);

  position: absolute;
  bottom: 25px;


  list-style-type: none;


  margin-left: auto;
  margin-right: auto;

}

#CreateTitle_Evolutions {

  display: inherit;
  color: white;
  z-index: 8;
  font-size: calc(.75vw + .75vh + .75vmin);
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  position: relative;

}

/* Auras/Skins */

#DecorSelection {
  display: block; 
  background: rgba(117, 118, 124, 0.7);
  z-index: 6;


  height: 50%;
  width: calc(30% - 20px); 

  border: 2.5px solid rgb(255, 255, 255);

  position: absolute;
  right: 0;
  bottom: 25px;
}

#TintsButton, #SkinsButton {
  display: inherit;
  position: absolute;
  background: rgba(117, 118, 124, 0.7);

  width: 48%; 
  height: 10%; 
  border: 2.5px solid rgb(255, 255, 255);
  top: -28px;
  font-size: calc(.9vw + .9vh);
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke:1px rgb(255, 255, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);
  
  color: rgb(0, 0, 0); 
  padding: 5px 0; 



}

#TintsButton {

  right: 0;


}

#SkinsButton {

  left: 0;

}