#mTitle {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-family: "Lucida Console", "Courier New", monospace;
}

#PG {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-family: "Lucida Console", "Courier New", monospace;
}
