/* Test */
#mTitle {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-family: "Lucida Console", "Courier New", monospace;
}

#PG {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-family: "Lucida Console", "Courier New", monospace;
}

#MenuBar {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #c9bdbd;
  height: 45px;
}

#MenuBar_Item a {
  display: block;
  font-size:20px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
  float: left;
}

#MenuBar_Item_S {
  background: url(Images/MainICON.png);
  width: 45px; 
  height: 30px; 
  border: 1px solid #000000;
  float: right;
  margin: 10px;

}

#MenuBar_Item a:hover:not(.active) {
  background-color: #726c6c;
}

#MenuBar_Item a.active {
  color: white;
  background-color: #030203;
}